.all_product_page {
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

/*PRODUCTS FRAME*/
.products_frame {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}
.products_frame .products_box {
  width: 1320px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-size: 15px;
  line-height: 22px;
}

.products_frame .products_box a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.home_frame {
  width: 100%;
  height: 22px;
  margin-top: 21px;
  margin-left: 195px;
}
.home_frame .home_box a {
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
/*ADV FRAME*/
.adv_frame {
  margin-top: 21px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.adv_frame .container {
  height: 425px;
  border-radius: 6px;
  background-image: url(../images/icons/shop_header_bg.png);
}
.adv_frame .container .header_content {
  height: auto;
  width: 365px;
  display: flex;
  flex-direction: column;
  margin-left: 81px;
}
.adv_frame .container .header_content span {
  margin-top: 50px;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.adv_frame .container .header_content p {
  margin-top: 10px;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.adv_frame .container .header_content a {
  margin-top: 10px;
  width: 145px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(245, 195, 75, 1);
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

/*BRAND CATEGORY*/

.shop_by_brand {
  margin-left: 195px;
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop_by_brand .shop_title {
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 30px;
}
.shop_by_brand .brands {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.shop_by_brand .brands a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-right: 20px;
  cursor: pointer;
}

/*TOP SELLING PRODUCTS*/
.top_selling_products {
  margin-left: 195px;
  margin-top: 60px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.top_selling_products .container span {
  white-space: nowrap;
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

/*TOP SELLING ITEMS*/

.top_selling_items {
  margin-left: 195px;
  position: relative;
  margin-top: 30px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.top_selling_items .item_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  background: rgba(255, 255, 255, 1);
}
.top_selling_items .item_box .product_img {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 180px;
  height: 190px;
}
.top_selling_items .item_box .review_box img {
  margin-right: 4px;
}
.top_selling_items .item_box .review_box {
  margin-bottom: 15px;
  margin-top: 10px;
}
.top_selling_items .item_box .review_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.top_selling_items .item_box .item_content_box .price_box {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top_selling_items .item_box .price_box strong {
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.top_selling_items .item_box .price_box span {
  color: rgba(98, 105, 116, 1);
  margin-left: 10px;
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}
.top_selling_items .item_box p {
  color: rgba(4, 30, 66, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.top_selling_items .item_box .product_content_box .product_title {
  color: rgba(98, 105, 116, 1);
  font-family: var(--font);
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.item_box .product_content_box {
  padding: 5px 22px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.product_content_box .product_desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
